 <h1>User info</h1>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
 <table>
  <tr>
   <td>name</td>
   <td><%= @user.name %></td>
  </tr>
    <tr>
   <td>introduction</td>
   <td><%= @user.introduction %></td>
  </tr>
 </table>

<%= render 'books/new', book: @book %>

<h1>Editing Book</h1>
<h1>Books</h1>

<table>
 <thead>
  <tr>
   <th colspan="1"></th>
   <th>Title</th>
   <th>Opinition</th>
  </tr>
  </thead>

  <tbody>
    <% @users.books.each do |book| %>
    <tr>
     <td>
       <%= link_to user_path(current_user.id)do %>
       <%= attachment_image_tag @users, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
       <% end %>
     </td>
     <td>
        <%= link_to book_path(book) do %>
        <%= book.title %></td>
        <% end %>
     <td><%= book.body %></td>
    </tr>
   <% end %>
  </tbody>
</table>







