<h1>Editing Book</h1>

 <%= form_with model: @book, local:true do |f| %>
 <div class="from-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
 </div>

 <div class="from-group">
  <%= f.label :body, "Opinition" %>
  <%= f.text_area :body %>
 </div>

 <div class="from-group">
  <%= f.submit 'Update Book' %>
 </div>

<% end %>

<%= link_to "Show" ,  (@book) %>
    <text>|</text>
<%= link_to "Back" , "/books" %>