<h2>New book</h2>
  
 <%= form_with model: @book, local:true do |f| %>
 <div class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
 </div>
 
 <div class="field">
  <%= f.label :body, "Opinition" %>
  <%= f.text_area :body %>
 </div>
 
 <div class="actions">
  <%= f.submit 'Create Book' %>
 </div>

<% end %>
   
   <h1>Book detail</h1>

<table>
  <tbody>
    <tr>
    <td><%= @book.user.name %></td>
     <td><%= @book.title %></td>
     <td><%= @book.body %></td>
     <td> <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: '本当に消しますか？'} %> </td>
    </tr>
  </tbody>
</table>
